<template name="quadrant">
	{{>circle 
		class="quadrant_bg"
		r=90
	}}
	{{>circle 
		class="quadrant_bg"
		r=90
		filter="url(#position)"
		clipPath="url(#clipCircle)"
	}}
	
	
	<g id="quadrant-markers">
	{{#each hourMarkers}}
		<g id="marker-{{index}}" class="quadrant_marker {{current}}">
			<line 	class="quadrant_marker-tick" 
					x1="0" x2="0" y1="87" y2="88" 
					transform="rotate({{deg}})"
			/>
			{{#if hour}}
				<text 	class="quadrant_marker-digit" 
						fill="{{hourFill}}"
						dx="0.5" 
						dy="4" 
						x="{{hourX}}" 
						y="{{hourY}}"
				>
					{{hour}}
				</text>
			{{/if}}
		</g>
	{{/each}}
	</g>
	
	{{>timeMarker}}

	{{>location}}
</template>