<template name="timeMarker">
	<g 	id="time-marker" 
		transform="translate({{timeMarker.minsX}},{{timeMarker.minsY}})"
	>
		{{>circle
			class="empty-marker_bg"
			fill="black"
			r=timeMarker.r
		}}

		<g id="moon-marker" class="moon-marker {{timeMarker.moon.type}}" style="opacity: {{timeMarker.moon.opacity}}">
			{{>circle
				class="time-marker_moon-bg"
				r=timeMarker.r
			}}

			<path  class="time-marker_moon-half left" 
					d="{{timeMarker.moon.leftD}}" 
			/>
			<path 	class="time-marker_moon-half right" 
					d="{{timeMarker.moon.rightD}}" 
			/>
		</g>

		<g id="sun-marker" style="opacity: {{timeMarker.sun.opacity}}">
			{{>circle
				class="time-marker_sun-bg" 
				r=timeMarker.r
			}}
		</g>
		<text 	dy="3.5" 
				class="time-marker_mins" 
				fill="{{timeMarker.minsFill}}"
		>
			{{timeMarker.mins}}
		</text>
	</g>
</template>