.hour-marker{
	&_tick{
		stroke-width: 1;
		stroke: lightGrey;
		display: none;
	}
	&_digit{
		text-anchor: middle;
		font-size: 10px;
		font-family: Helvetica;
		stroke-width: 0;
		opacity: .5;
		.current &{
			opacity: 1;
		}
	}
	&_bg{
		stroke: orange;
		stroke-width: 2;
		opacity: 0;
		.current &{
			opacity: 1;
		}
	}
	&_mins{
		text-anchor: middle;
		font-size: 10px;
		font-family: Helvetica;
		fill: lightgrey;
		opacity: .7;
	}
}

.sun.today.london{
	fill: gold;
	opacity: 1;
}
.moon.today.london{
	fill: lightBlue;
	opacity: 1;
}
